@use "sass:color";

$base00: #282c34;
$base01: #353b45;
$base02: #3e4451;
$base03: #545862;
$base04: #565c64;
$base05: #abb2bf;
$base06: #b6bdca;
$base07: #c8ccd4;
$base08: #e06c75;
$base09: #d19a66;
$base0A: #e5c07b;
$base0B: #98c379;
$base0C: #56b6c2;
$base0D: #61afef;
$base0E: #c678dd;
$base0F: #be5046;

$defaultBgColor: $base00;
$lighterBgColor: $base01;
$selectionBgColor: $base02;
$defaultFgColor: $base05;
$darkerFgColor: $base04;

$blueColor: $base0D;

:root {
  /* 
    OneDark theme
    Source: https://github.com/tinted-theming/schemes/blob/spec-0.11/base16/onedark.yaml

    TODO: Update code to inject theme dynamically from stylix or similar
   */

  color: $defaultFgColor;
  background-color: $defaultBgColor;
  font-size: 0.9rem;
  font-family: 'DejaVu Sans';
  letter-spacing: -0.05em;
}

.monospace {
  /*
  Uncomment this if it seems too jarring to use FantasqueSansM
  font-family: 'DejaVu Sans Mono';
  */
  font-family: 'FantasqueSansM Nerd Font';
}

window.bar {
  margin: 0px 3px;
  border: 1px solid $lighterBgColor;
  border-radius: 18px;

  box.widget {
    padding: 3px 8px;
    margin: 3px 3px;
    background-color: $lighterBgColor;
    border: 1px solid $lighterBgColor;
    border-radius: 20px;

    label {
      font-weight: normal;
    }

    &.button {
      padding: 0px;

      button {
        all: unset;
        background-color: transparent;
      }

      &:hover {
        background-color: color.adjust($defaultFgColor, $alpha: -0.84);
      }

      &:active {
        background-color: color.adjust($defaultFgColor, $alpha: -0.77);
      }

      menubutton > button label {
        all: unset;
        padding: 3px 8px;
      }
    }
  }

}

menubutton.flat {
  > * {
    padding: 0px;
  }
}

menubutton.clock {
  calendar {
    background-color: $defaultBgColor;
    font-family: 'FantasqueSansM Nerd Font';

    header {
      background-color: $lighterBgColor;

      border: 1px solid $lighterBgColor;
      border-radius: 5px;
    }

    .day-number {
      color: $defaultFgColor;

      &:selected {
        background-color: $selectionBgColor;
      }
      &:hover {
        background-color: $lighterBgColor;
      }
    }

    .day-name {
      background-color: $lighterBgColor;
    }

    .other-month {
      color: $darkerFgColor;
    }
  }
}

box.button-panel {
  > * {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 7px;
    padding-left: 2px;
  }
}

box.wifi {
  &.wifi-inactive {
    color: $darkerFgColor;
  }
  &.wifi-active {
    color: $blueColor;
  }
}
